:root {
    --darkolivegreen: #5F6F52;
    --laurelgreen: #A9B388;
    --cornsilk: #FEFAE0;
    --lemonmeringue: #F9EBC7;
    --camel: #B99470;
    --alloyorange: #C4661F;
    --russet: #783D19;
}

body {
    background-color: var(--lemonmeringue);
    color: var(--russet);
    font-family: Lato;
    display: grid;
}

h1 {
    margin: 1rem auto;
}

main {
    padding: 2rem;
    justify-self: center;
    width: 50%;
    background-color: var(--cornsilk);
    border-radius: 1rem;
    border: solid 1px var(--darkolivegreen);
}

ul {
list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

input {
    background-color: var(--laurelgreen);
    font-family: Lato;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

input[type='submit']{
    border: solid 2px var(--darkolivegreen);
}

input[type='submit']:hover {
    color: var(--alloyorange);
    border: solid 2px var(--alloyorange);
}

a {
    color: var(--darkolivegreen);
    text-decoration: none;
}

a:hover {
    color: var(--alloyorange);
    text-decoration: underline;
}